body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(250deg, #d3d3d3, #1379ff);
}

header {
    background-color:  #ff5e13;
    color: white;
    text-align: center;
    padding: 1rem;
}

.forum-container {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.post {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.new-post {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form input, form textarea, form button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

form button {
    background-color:  #ff5e13;
    color: white;
    border: none;
    cursor: pointer;
}
